language: julia

os:
    - linux
    - osx

julia:
    - 0.7
    - 1.0
    - nightly

notifications:
    email: false

after_success:
  - julia -e 'Pkg.init(); run(`ln -s $(pwd()) $(Pkg.dir("OffsetArrays"))`); Pkg.pin("OffsetArrays"); Pkg.resolve()'
  - julia -e 'using OffsetArrays; @assert isdefined(:OffsetArrays); @assert typeof(OffsetArrays) === Module'
